# macOS-specific files
.DS_Store
.AppleDouble
.Trashes

# Python-specific files
*.pyc
__pycache__/
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg
venv/
# Ignore data files
input/*
output/*
!input/.gitkeep
!output/.gitkeep
!output/models/.gitkeep
